<aside id="sidebar" class="sidebar sidebar-default main-sidebar" ng-if="vm.isAuthenticated()" has-authority="ROLE_ADMIN">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <form action="#" method="get" class="sidebar-form navbar-form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!--<li class="header">MAIN NAVIGATION</li>-->
            <li ui-sref-active="active">
                <a ui-sref="dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Catalogs</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="product"><i class="fa fa-circle-o"></i> Products</a></li>
                    <li ui-sref-active="active"><a ui-sref="item-price"><i class="fa fa-circle-o"></i> Item Prices</a></li>
                    <li ui-sref-active="active"><a ui-sref="category"><i class="fa fa-circle-o"></i> Categories</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Restaurant</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="menu"><i class="fa fa-circle-o"></i> Menu</a></li>
                    <li ui-sref-active="active"><a ui-sref="menu-category"><i class="fa fa-circle-o"></i> Menu Categories</a></li>
                    <li ui-sref-active="active"><a ui-sref="menu-item"><i class="fa fa-circle-o"></i> Menu Items</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Settings</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref-active="active"><a ui-sref="store"><i class="fa fa-circle-o"></i> Stores</a></li>
                    <li ui-sref-active="active"><a ui-sref="store-branch"><i class="fa fa-circle-o"></i> Store Branches</a></li>
                    <li ui-sref-active="active"><a ui-sref="store-user"><i class="fa fa-circle-o"></i> Store Users</a></li>
                    <li ui-sref-active="active"><a ui-sref="location"><i class="fa fa-circle-o"></i> Locations</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
