<nav class="navbar navbar-static-top" role="navigation" ng-switch="vm.isAuthenticated()">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-switch-when="true">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu" ng-switch-when="true">
        <ul class="nav navbar-nav">
            <li>
                <a href="" ng-click="vm.logout()" id="logout">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                    <span data-translate="global.menu.account.logout">Sign out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-custom-menu" ng-switch-when="false">
        <ul class="nav navbar-nav">
            <li>
                <a href="" ng-click="vm.login()" id="login">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                    <span data-translate="global.menu.account.login">Sign in</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
